Server/Client/Service References/ServiceReference/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServerLib" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServerLib" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ToServerData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Frame" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="Input" type="tns:GameInputType" />
      <xs:element minOccurs="0" name="Time" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ToServerData" nillable="true" type="tns:ToServerData" />
  <xs:simpleType name="GameInputType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Up" />
      <xs:enumeration value="Down" />
      <xs:enumeration value="Left" />
      <xs:enumeration value="Right" />
      <xs:enumeration value="Swap" />
      <xs:enumeration value="Elevate" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="GameInputType" nillable="true" type="tns:GameInputType" />
  <xs:complexType name="ToClientData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Frame" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="PlayerInput" nillable="true" type="tns:ArrayOfGameInputType" />
      <xs:element minOccurs="0" name="Time" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ToClientData" nillable="true" type="tns:ToClientData" />
  <xs:complexType name="ArrayOfGameInputType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GameInputType" type="tns:GameInputType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGameInputType" nillable="true" type="tns:ArrayOfGameInputType" />
</xs:schema>