Server/Client/Service References/ServiceReference/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServerLib" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServerLib" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ToServerData">
    <xs:sequence>
      <xs:element minOccurs="0" name="FrameData" nillable="true" type="tns:FrameData" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageType" type="tns:ToServerMessageType" />
      <xs:element minOccurs="0" name="TimeStamp" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ToServerData" nillable="true" type="tns:ToServerData" />
  <xs:complexType name="FrameData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Frame" type="xs:unsignedShort" />
      <xs:element minOccurs="0" name="Input" nillable="true" type="tns:ArrayOfGameInputType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FrameData" nillable="true" type="tns:FrameData" />
  <xs:complexType name="ArrayOfGameInputType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GameInputType" type="tns:GameInputType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGameInputType" nillable="true" type="tns:ArrayOfGameInputType" />
  <xs:simpleType name="GameInputType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Up" />
      <xs:enumeration value="Down" />
      <xs:enumeration value="Left" />
      <xs:enumeration value="Right" />
      <xs:enumeration value="Swap" />
      <xs:enumeration value="Elevate" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="GameInputType" nillable="true" type="tns:GameInputType" />
  <xs:simpleType name="ToServerMessageType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Debug" />
      <xs:enumeration value="Subscribe" />
      <xs:enumeration value="Unsubscribe" />
      <xs:enumeration value="QueueForMatch" />
      <xs:enumeration value="CancelQueueForMatch" />
      <xs:enumeration value="Frame" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ToServerMessageType" nillable="true" type="tns:ToServerMessageType" />
  <xs:complexType name="ToClientData">
    <xs:sequence>
      <xs:element minOccurs="0" name="FrameData" nillable="true" type="tns:FrameData" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageType" type="tns:ToClientMessageType" />
      <xs:element minOccurs="0" name="TimeStamp" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ToClientData" nillable="true" type="tns:ToClientData" />
  <xs:simpleType name="ToClientMessageType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Debug" />
      <xs:enumeration value="StartMatch" />
      <xs:enumeration value="Frame" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ToClientMessageType" nillable="true" type="tns:ToClientMessageType" />
</xs:schema>